/* This css applies to all child components as welll */

/* 
##############################
Universal CSS (for all pages)
##############################
*/

/* Applying css to body and entire html*/
body,html
{
	margin: 0;
	padding: 0;
	height: 100%;
	
}

/* Applying style to entire navigation bar*/
nav
{
	top: 1%;
	left: 3%;
	width: 91.7%;
	position: fixed;
	background-color: rgb(0,0,0,0.7);
	border: 0px solid white;
	border-radius: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2% 1% 0;
}

/* Applying style to nagivation bar menu items */
nav a
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.2vw;
	color: white;
	text-decoration: none;
}

/* Hover effect on navbar items */
a:hover
{
	color: #0FFF95;
	font-weight: bold;
}

/*
##############################
CSS for landing page (index)
##############################
*/

/* Applying style to main content (nav-main content-footer) */
section
{
	display: flex;
	flex-direction: column;
	padding: 0% 1%;
	gap: 10vh;
	
}

/* Reseting margin and padding property of h1 and p to 0 */
h1,h2,p
{
	margin: 0px;
	padding: 0px;
}

p b{
	color: #0FFF95 ;
}

/* Applying style to "Scroll down" text */
label
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.5vw;
	color: white;
	padding: 0.5% 5%;
	outline: 2px solid white;
}

/* Styling footer */
/*footer
{
	position: fixed;
	bottom: 1.5vw;
	left: 40vw;
	display: flex;
	gap: 2vh;
	justify-content: center;
	align-items: center;
}*/

/* Adjusting logo (footer) dimension */
/*footer img
{
	width: 3vw;
	height: 4vh;
}*/

/* Styling First Main Content (pre scroll page) */
.parallax-1
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
	padding: 1% 3%;

	background-image: url("../public/Resources/stars.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

/* Styling Second, Third, Fourth and fifth Main Content (second main content) */
.parallax-2, .parallax-3, .parallax-4, .parallax-5
{	
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("../public/Resources/stars.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

	height: 100%;
	padding: 1% 5%;
	gap: 5%;
}

/* Applying css to all sections of the page */
.column-right, .column-left
{
	width: 50vw;
	height: 30vw;
}

.upper-container-landing
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vh;

	padding: 0% 15%;
}

.lower-container-landing
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Changing the size of image in main content area */
.main_img
{
	outline: 5px solid white;
	width: 45vw;
	height: 60vh;
}

/* Applying flex property to navigation menu items*/
.flex-navmenu
{
	display: flex;
	gap: 9vh;
}

/* Styling nagivation bar logo (text)*/
.navbar-logo-text
{
	font-family: 'Monoton', cursive;
	font-size: 1.2vw;
}

/* Applying style to main title text ("CLOVER") */
.title-heading
{
	font-family: 'Monoton', cursive;
	font-size: 7vw;
}

/* Hmm */
.title-sub-heading
{
	margin: -6vh 0 0 25vw;
	letter-spacing: 0.2vw;
	font-family: 'Monoton', cursive;
	font-size: 2vw;
	text-decoration: overline;
	text-decoration-color: white;
	text-decoration-style: double;
}

/* Applying style to Sub headings */
.sub-heading
{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 4px;
	font-size: 4vw;
}

/* Hmm */
.title-description
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.4vw;
	line-height: 5vh;
	text-align: justify;
	text-justify: inter-word;
	color: white;
}

/* First half of title text "CLO" */
.heading-color
{
	color: #0FFF95;
}

/* Second half of title text "VER" */
.heading-no-color
{
	color: white;
}

/* Hmm */
.text-strike
{
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-style: solid;
	text-decoration-thickness: 0.3vw;
}

/* Hmm */
.footer-text
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.1vw;
}

.active_menu
{
	color: #0FFF95;
	border-bottom: 2px solid;
}
