/* This css applies to all child components as welll */


/* Applying css to body and entire html*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Reseting margin and padding property of h1 and p to 0 */
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

/* 
###########################
NavBar Styling
###########################
*/ 

/* Applying style to entire navigation bar*/
nav {
  top: 1%;
  left: 3%;
  width: 91.7%;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.7);
  border: 0px solid white;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2% 1% 0;
}

/* Applying flex property to navigation menu items*/
.flex-navmenu {
	display: flex;
	gap: 9vh;
  }
  
  /* Styling nagivation bar logo (text)*/
  .navbar-logo-text {
	font-family: "Monoton", cursive;
	font-size: 1.2vw;
  }

/* Applying style to nagivation bar menu items */
nav a {
  font-family: "Prompt", sans-serif;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
}

/* Hover effect on navbar items */
a:hover {
  color: #0fff95;
  font-weight: bold;
}

/* 
###########################
Styling All Pages and their content
###########################
*/ 

/* Applying style to main content (Landing page description) */
section {
  display: flex;
  flex-direction: column;
  padding: 0% 1%;
  gap: 10vh;
}

/* Set font color of bold text insde paragraph into green */
p b {
  color: #0fff95;
}

/* Applying style to "Scroll down" text in Home-MainContainer-Lower*/
.label-ScrollDown {
  font-family: "Prompt", sans-serif;
  font-size: 1.5vw;
  color: white;
  padding: 0.5% 5%;
  outline: 2px solid white;
}

/* Styling Main Container */
.Main-Container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../public/Resources/stars.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  padding: 9% 5% 12% 5%;
  gap: 5%;
}

/* Applying css to Main-Container-Left and Main-Container-Right */
.column-right,
.column-left {
  width: 50vw;
  height: 30vw;
}

.Home-MainContent-Upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;

  padding: 0% 15%;
}

.Home-MainContent-Lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Changing the size of image in main content area */
.main_img {
  outline: 5px solid white;
  width: 45vw;
  height: 60vh;
}

/* Applying style to main title text ("CLOVER") */
.main-title {
  font-family: "Monoton", cursive;
  font-size: 7vw;
}

/* Applying style to main sub title text ("Three") */
.main-sub-title {
  margin: -6vh 0 0 25vw;
  letter-spacing: 0.2vw;
  font-family: "Monoton", cursive;
  font-size: 2vw;
  text-decoration: overline;
  text-decoration-color: white;
  text-decoration-style: double;
}

/* Applying style to Content Titles */
.content-title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
  font-size: 4vw;
}

/* Applying style to Descriptions */
.description {
  font-family: "Prompt", sans-serif;
  font-size: 1.4vw;
  line-height: 5vh;
  text-align: justify;
  text-justify: inter-word;
  color: white;
}

/* First half of title text "CLO" */
.text-color {
  color: #0fff95;
}

/* Second half of title text "VER" */
.text-no-color {
  color: white;
}

/* Hmm */
.text-strike {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: solid;
  text-decoration-thickness: 0.3vw;
}

.active_menu {
  color: #0fff95;
  border-bottom: 2px solid;
}

@tailwind base;
@tailwind components;
@tailwind utilities;